.body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #654b4200;
    width: 80%;
    border-radius: 50px;
    box-shadow: 8px 8px 13px 0px #654b4286;
    margin: 5% 0% 3% 0%;
}

.page-content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    min-width: 85%;
    margin: 0 auto;
    padding: 2rem;
    overflow: visible;
    position: relative;
    z-index: 1;
}

.result{
    font-size: 130%;
}

.result img{
    width: 50px;
}