.detail-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    direction: rtl;
    min-width: 200px;
    max-width: 80%;
    height: auto;
    margin: 2%;
    padding: 1%;
    padding-right: 2%;
    background-color: #76768010;
    border-radius: 25px;
    position: relative;
    bottom: 0;
    right: 0;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    overflow: hidden;
}

.detail-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg,
            transparent,
            transparent 30%,
            rgba(255, 255, 255, 0.3));
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
}

.detail-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(135, 134, 134, 0.3);
    color: white;
    box-shadow: 8px 8px 13px 0px rgba(0, 0, 0, 0.3);
    background-color: #654b42d2;
}

.detail-card:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
}

.detail-card img {
    width: 50px;
    max-width: 60px;
    max-height: 60px;
    margin-left: 10px;
    transition: 0.5s ease;
}

.detail-card:hover img {
    filter: brightness(0) invert(1);
    transform: rotatey(360deg);
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: right;
    max-width: 85%;
    word-wrap: break-word;
    direction: rtl;
}

.text-box h3, p {
    font-size: 100%;
    margin: 10px;
    transition: color 0.3s ease;
} 
