.footer {
    background-color: #737476;
    color: white;
    padding: 2rem;
    direction: rtl;
    font-family: 'Lama Sans', sans-serif;
}

.footer-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo img {
    height: 80px;
    width: auto;
}

.footer-sections {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.footer-section h4 {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #e5e5e5;
}

.footer-section p {
    margin: 0.2rem 0;
    font-size: 0.95rem;
    color: #e5e5e5;
}

.footer-icons {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.footer-icons img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.footer-line {
    border: 0.5px solid #ccc;
    margin-top: 2rem;
}