body{
    font-family: 'Lama Sans', sans-serif;
    background: url(../assets/background.png);
    background-size: cover;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero{
    width: 110%;
}