.country-shape {
    transition: transform 0.3s ease, fill-opacity 0.3s ease;
    transform-origin: center;
}

.country-shape.selected {
    z-index: 10;
    opacity: 1;
    position: relative;
    animation: centerCountry 0.9s forwards;
}

@keyframes centerCountry {
    from{
        opacity: 1;
        transform: scale(1.0) translate(0px, 0px);
    }
    to {
        opacity: 1;
        transform: scale(1.3) translate(50px, 50px);
        /*translate: calc(5% - 5px) calc(14% - 0px);*/
    }
}

.country-shape.dimmed {
    fill-opacity: 0.2 !important;
    transition: fill-opacity 0.3s ease;
}

.country-transition {
    transition: fill-opacity 0.5s ease;
}