.country-shape {
    transition: transform 0.3s ease, fill-opacity 0.3s ease;
    transform-origin: center;
    transform-box: fill-box;
}

.country-shape.selected {
    z-index: 10;
    opacity: 1;
    position: relative;
    animation: centerCountry 0.9s forwards;
    transform-origin: center center;
}

@keyframes centerCountry {
    from{
        opacity: 1;
        transform: scale(1.0) translate(0px, 0px);
    }
    to {
        opacity: 1;
        transform: scale(1.5);
        position: relative;
        left: 50%;
        top: 50%;
    }
}

.country-shape.dimmed {
    fill-opacity: 0.2 !important;
    transition: fill-opacity 0.3s ease;
}

.country-transition {
    transition: fill-opacity 0.5s ease;
}