
.navbar2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    top: 0;
    z-index: 50;
    font-family: 'Lama Sans', sans-serif;
}

.navbar2 .logo {
    width: 12rem;
    height: auto;
    margin: 1.5rem;
    min-width: 5rem;
}

.navbar2 .nav-links2 {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 1.125rem;
    margin-right: 5rem;
}

.navbar2 .nav-links2 a {
    color: black;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
    z-index: 1;
}

/*.navbar2 .nav-links2 a:hover {
    color: #654B42;
}*/

.navbar2 .nav-links2 a::after,
.navbar2 .nav-links2 a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #654b42;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.navbar2 .nav-links2 a::before {
  top: -5px;
  transform-origin: left;
}

.navbar2 .nav-links2 a:hover::after,
.navbar2 .nav-links2 a:hover::before {
  transform: scaleX(1);
}

span {
    font-weight: 600;
}

.navbar2 .lang-icon2 {
    width: 26px;
    height: auto;
}

.lang-link2 {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}