
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    top: 0;
    z-index: 50;
    font-family: 'Lama Sans', sans-serif;
}

.navbar .logo {
    width: 12rem;
    height: auto;
    margin: 1.5rem;
    min-width: 5rem;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 1.125rem;
    margin-right: 5rem;
}

.navbar .nav-links a {
    color: black;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #654B42;
}

span {
    font-weight: 600;
}

.navbar .lang-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.lang-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}