.navbar2 {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    top: 0;
    z-index: 50;
}

.navbar2 .logo {
    width: 12rem;
    height: auto;
    margin: 1.5rem;
    min-width: 5rem;
}

.navbar2 .nav-links2 {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 1.125rem;
    margin-right: 5rem;
}

.navbar2 .nav-links2 a {
    color: black;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
    z-index: 1;
}

.navbar2 .nav-links2 a:hover {
    color: #654B42;
}

.navbar2 .nav-links2 a::after,
.navbar2 .nav-links2 a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #654b42;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.navbar2 .nav-links2 a::before {
    top: -5px;
    transform-origin: left;
}

.navbar2 .nav-links2 a:hover::after,
.navbar2 .nav-links2 a:hover::before {
    transform: scaleX(1);
}

span {
    font-weight: 600;
}

.navbar2 .lang-icon2 {
    width: 26px;
    height: auto;
}

.lang-link2 {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.mobile-menu-button2 {
    display: none;
    background: none;
    border: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
    z-index: 100;
}

@media screen and (max-width: 1024px) {
    .navbar2 .nav-links2 {
        gap: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .navbar2 {
        padding: 0.5rem 0;
    }

    .navbar2 .logo {
        width: 8rem;
        margin-left: 1rem;
    }

    .mobile-menu-button2 {
        display: block;
    }

    .nav-links2 {
        position: fixed;
        top: 0;
        right: -100%;
        width: 30%;
        height: 100vh;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0;
        padding: 0;
        transition: right 0.3s ease;
        z-index: 1;
    }

    .nav-links2.open {
        right: 0;
    }

    .nav-links2 a {
        font-size: 1.2rem;
        padding: 0.5rem 0;
    }

}

@media screen and (max-width: 480px) {
    .navbar2 .logo {
        width: 6rem;
    }

    .nav-links2 {
        width: 80%;
    }

    .nav-links2 a {
        font-size: 1rem;
    }

    .lang-link2 {
        font-size: 0.9rem;
    }

    .mobile-menu-button2 {
        font-size: 1.2rem;
    }
}