.slide-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  direction: rtl;
}

.slide-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease;
}

.slide-content.show {
  opacity: 1;
  transform: translateX(0%);
  position: relative;
  z-index: 2;
}

.slide-content.hide-left {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
}

.slide-content.hide-right {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
}

.slide-container h4{
  margin-bottom: 3%;
}

.slide-container span{
  font-weight: 400;
}

