/* togglePage.css */
.tab-switcher {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 20px auto;
}

.tab-switcher button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #ddd;
  transition: background-color 0.3s ease;
}

.tab-switcher button.active {
  background-color: #2196F3;
  color: white;
}

.slide-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  direction: rtl;
}

.slide-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease;
}

.slide-content.show {
  opacity: 1;
  transform: translateX(0%);
  position: relative;
  z-index: 2;
}

.slide-content.hide-left {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
}

.slide-content.hide-right {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
}
