.timeline-wrapper {
  padding: 3rem 1rem;
  background-color: #654B42;
  color: #FDFDED;
  direction: rtl;
  text-align: center;
  font-family: 'lama sans', sans-serif;
}

.years-nav-line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2rem;
}

.years-line {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #FDFDED;
  z-index: 0;
}

.year-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #654B42;
  border: 2px solid #FDFDED;
  border-radius: 50%;
  margin: 0.2rem 0;
  transition: transform 0.3s ease;
}
.inside-circle {
  width: 15px;
  height: 15px;
  background-color: #FDFDED;
  border: 3px solid #654B42;
  border-radius: 50%;
  margin: 0px;
  transition: transform 0.3s ease;
}
.year-circle.active .circle,.year-circle:hover .circle {
  transform: scale(1.4);
 
  background-color: #FDFDED;
}

.year-text {
  font-size: 1rem;
}

.timeline-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card {
  background-color: #FDFDED;
  color: #654B42;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  min-width: 300px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.prev-card,.next-card {
  color: #654B42;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  min-width: 200px;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.prev-card{
    background: linear-gradient(to right, #fdfded7b, #654B42);
}

.next-card{
    background: linear-gradient(to left, #fdfded7b, #654B42);
}

.arrow {
  font-size: 2rem;
  background: none;
  border: none;
  color: #FDFDED;
  cursor: pointer;
}

.arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
